html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

body {
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  margin: 0.67em 0;
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 2;
}

p {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.75;
}

a {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 1em;
}

nav h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

nav p {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

footer h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
}
